Q.1 What are data structures, and why are they important?
Ans:
   - Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are important because they enable efficient data manipulation, which is critical for performance in software development.

Q.2 Explain the difference between mutable and immutable data types with examples.
Ans:

   - Mutable data types can be changed after their creation, such as **lists** in Python:
    
     my_list = [1, 2, 3]
     my_list[0] = 10  # Modifies the list
     
     - Immutable data types cannot be changed after their creation, such as **tuples**:
   
     my_tuple = (1, 2, 3)
     my_tuple[0] = 10  # This will raise an error
     

Q.3 What are the main differences between lists and tuples in Python?
Ans:
   - Lists are mutable, meaning their contents can change, while tuples are immutable. Lists have a dynamic size, whereas tuples are fixed in size once defined.

Q.4 Describe how dictionaries store data.
Ans:
   - Dictionaries store data in key-value pairs. Each key is unique, and it maps to a specific value. Internally, Python uses hash tables to optimize lookups in dictionaries.

Q.5 Why might you use a set instead of a list in Python?
Ans:
   - Sets are used when you need to store unique elements and don’t care about their order. They are faster for membership tests compared to lists.

Q.6 What is a string in Python, and how is it different from a list?
Ans:
   - A string is a sequence of characters and is immutable, whereas a list is a sequence of elements that can be of any type and is mutable.

Q.7 How do tuples ensure data integrity in Python?
Ans:
   - Tuples are immutable, so once created, their contents cannot be altered, ensuring data integrity by preventing accidental changes.

Q.8 What is a hash table, and how does it relate to dictionaries in Python?
Ans:
   - A hash table is a data structure that stores key-value pairs and allows for fast lookups. In Python, dictionaries are implemented using hash tables.

Q.9 Can lists contain different data types in Python?
Ans:
   - Yes, Python lists can contain elements of different data types, including strings, numbers, and even other lists.

Q.10 Explain why strings are immutable in Python.
Ans:
    - Strings are immutable to ensure consistency and security, allowing them to be safely shared across multiple parts of a program without unexpected modifications.

Q.11 What advantages do dictionaries offer over lists for certain tasks?
Ans:
    - Dictionaries offer fast lookups by keys, making them ideal for tasks where quick access to elements is needed using a unique identifier.

Q.12 Describe a scenario where using a tuple would be preferable over a list.
Ans:
    - Tuples are preferable when you want to ensure that the data cannot be modified, such as returning fixed configuration values.

Q.13 How do sets handle duplicate values in Python?
Ans:
    - Sets automatically remove duplicates. If you try to add a duplicate value to a set, it is ignored.

Q.14 How does the “in” keyword work differently for lists and dictionaries?
Ans:
    - For lists, `in` checks if a value exists in the list. For dictionaries, `in` checks if a key exists in the dictionary.

Q.15 Can you modify the elements of a tuple? Explain why or why not.
Ans:
    - No, tuples are immutable, meaning once they are created, their elements cannot be modified.

Q.16 What is a nested dictionary, and give an example of its use case.
Ans:
    - A nested dictionary is a dictionary where the value of a key is another dictionary. Example use case: storing user data where each key is a user ID, and the value is another dictionary containing details like name, age, etc.

Q.17 Describe the time complexity of accessing elements in a dictionary.
Ans:
    - Accessing elements in a dictionary has an average time complexity of O(1) due to the underlying hash table implementation.

Q.18 In what situations are lists preferred over dictionaries?
Ans:
    - Lists are preferred when the order of elements is important or when the data does not need to be associated with a unique key.


Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans:
    - Dictionaries do not maintain the order of insertion, so retrieving elements in the order they were added is not guaranteed.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.
Ans:
    - Lists use index-based retrieval, while dictionaries use key-based retrieval. Lists require searching through elements to find a match, whereas dictionaries can look up values by key directly.

-- Practical Questions And Answer

In [3]:
# Q.1 Write a code to create a string with your name and print it.

my_name ="Akshay"
print(my_name)

Akshay

In [8]:
# Q.2 Write a code to find the length of the string "Hello World".

my_string = "Hello World"
print(len(my_string))

11

In [9]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

my_string = "Python Programming"
print(my_string[:3])

Pyt

In [11]:
# 4. Write a code to convert the string "hello" to uppercase.

my_string = "hello"
print(my_string.upper())

HELLO

In [12]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string = "I like apple"
print(my_string.replace("apple", "orange"))

I like orange

In [14]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [15]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [16]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [19]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [20]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [21]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [22]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [23]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [24]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

In [26]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [27]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [28]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [29]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [30]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [31]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

my_dict = {"name": "Akshay", "age": 29, "city": "Nagpur"}
print(my_dict)

{'name': 'Akshay', 'age': 29, 'city': 'Nagpur'}

In [32]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

In [33]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [34]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [36]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [39]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [40]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
my_list = random.sample(range(1, 101), 5)
my_list.sort()
print(my_list)

[44, 56, 67, 73, 100]

In [41]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])

date

In [43]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Akshay', 'age': 29}
dict2 = {'city': 'Nagpur', 'country': 'India'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Akshay', 'age': 29, 'city': 'Nagpur', 'country': 'India'}

In [44]:
# 30. Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}